<!-- OpenId Authorization Screen -->
<oid-modal id="OpenIdInfo">
  <div style="text-align: center;">
    <div class="logo"><img src="assets/reclaim_icon.png"/></div>
    <hr>
    <span *ngIf="clientNameFound === undefined">
      <i class="fa fa-2x fa-circle-o-notch fa-spin fa-fw"></i> 
      <b class="fa-2x"> Verifying request, please stand by...</b>
    </span>
    <span *ngIf="clientNameFound">
      <i class="fa fa-2x fa-openid"></i> 
      <b class="fa-2x"> Authorization Request </b>
    </span> 
    <span *ngIf="clientNameFound !== undefined && !clientNameFound">
      <b class="fa-2x"> Authorization failed. </b>
    </span>
    <br/> 
  </div>
  <div *ngIf="clientNameFound"><strong>"{{ clientName }}"</strong>
    asks you to share personal information.<br/>
    Choose an identity to let it access the following information:
  </div>
  <ul *ngIf="clientNameFound">
    <li *ngFor="let attribute of getScopes()"><strong>{{attribute}}</strong>
  </ul>
  <div *ngIf="clientNameFound" style="text-align: center;">
    <button class="btn btn-danger mt-4" *ngIf="clientNameFound" (click)="cancelRequest(); closeModal('OpenIdInfo');" style="margin-bottom: -4%;">
      <span class="fa fa-ban"></span> Decline and return to website 
    </button>
    <br/>
    <button class="btn btn-primary mt-4" *ngIf="clientNameFound" (click)="closeModal('OpenIdInfo');">Choose Identity</button>
  </div>
  <div *ngIf="clientNameFound !== undefined && !clientNameFound" style="text-align: center;">
    <button class="btn btn-primary mt-4" *ngIf="!clientNameFound" (click)="getClientName();">
      <span class="fa fa-openid"></span> Retry
    </button>
  </div>
  <div *ngIf="clientNameFound === undefined" style="text-align: center;">
    <button class="btn btn-danger mt-4" *ngIf="clientNameFound === undefined" (click)="cancelRequest(); closeModal('OpenIdInfo');">
      <span class="fa fa-ban"></span> Cancel verification request
    </button>
  </div>
</oid-modal>

<!-- GNUnet not running -->
<oid-modal id="GnunetInfo">
  <div class="logo"><img src="assets/reclaim_icon.png"/></div>
  <hr>
  <div style="text-align: center; font-size: 18px;">
    <strong> Unable to connect to GNUnet. <br/> Maybe it is not running? </strong>
  </div>
</oid-modal>

<!-- Buttons -->
<div *ngIf="canSearch()"  style="margin-top: 1em; text-align: center;">
  <!-- Identity search -->
  <form class="form-inline" style="display: table; margin: auto;">
    <div class="search-wrapper">
    <input class="form-control mr-sm-2" type="search" [(ngModel)]="searchTerm" name="searchTerm" placeholder="Search identities" style="border-radius: 2em;">
    </div>
  </form>
  <br/>
</div>

<!-- Cancel authorization -->
<div style="margin-bottom: 1em; text-align: center;">
  <button *ngIf="inOpenIdFlow() && !isAddIdentity() && (null == identityInEdit) && clientNameFound" class="btn btn-danger mt-2" (click)="cancelRequest()">
    <span class="fa fa-ban"></span> Decline and return to website
  </button>
</div>

<!-- error infos -->
<div *ngFor="let err of errorInfos" class="alert alert-danger show" role="alert">
  <b>ERROR</b>
  <button class="btn btn-primary ml-4" (click)="errorInfos.splice(errorInfos.indexOf(err,0), 1)">
    <span>Dismiss</span>
  </button>
  <br/>
  {{err}}
</div>

<!-- No identities present -->
<div *ngIf="isConnected() && 0 == identities.length && !isAddIdentity()" style="text-align: center;" class="alert alert-secondary alert-dismissible fade show" role="alert">
  You don't have any identities yet.<br/><br/>
  <button class="btn btn-primary" (click)="addIdentity()">
    <span class="fa fa-plus"></span> Add your first identity!
  </button>
</div>

<!-- Identity edit screen -->
<div class="m-2 card" *ngIf="(null != identityInEdit) && !isAddIdentity()">
  <div class="card-avatar card-img-top">
    <div class="card-avatar-character text-dark">
      Manage identity: <i>{{ identityInEdit.name }}</i>
    </div>
  </div>
  <!-- Attribute table -->
  <div class="card-body">
    <div>
      <h6 class="card-subtitle mb-2">Attributes:</h6>
      <!-- Missing attributes -->
      <table class="table pb-1" *ngIf="isAttributeMissing(identityInEdit)">
        <tbody>
          <tr [class.openid]="inOpenIdFlow()" [class.alert-danger]="newAttribute.name === missing.name" class="text-primary" *ngFor="let missing of missingAttributes[identityInEdit.pubkey]">
            <td><div style="min-width: 15em">{{missing.name}}</div></td>
            <td>
              <input placeholder="Value" [(ngModel)]="missing.value">
            </td>
            <td>
            </td>
          </tr>
        </tbody>
      </table>
      <!-- Requested attributes -->
      <table class="table pb-1" style="">
        <tbody>
          <tr [class.openid]="inOpenIdFlow()" [class.text-primary]="isRequested(identityInEdit, attribute)" [class.alert-danger]="newAttribute.name === attribute.name" *ngFor="let attribute of attributes[identityInEdit.pubkey]">
            <td><div style="min-width: 15em">{{attribute.name}}</div></td>
            <td>
              <input placeholder="Value" [(ngModel)]="attribute.value">
            </td>
            <td>
              <button class="btn btn-primary" (click)="deleteAttribute(attribute)">
                <span class="fa fa-trash"></span>
              </button>
            </td>
          </tr>
          <tr [class.alert-danger]="isInConflict(identityInEdit,newAttribute)">
            <td>
              <input [class.text-danger]="!attributeNameValid(identityInEdit,newAttribute)" placeholder="Attribute" [(ngModel)]="newAttribute.name">
            </td>
            <td>
              <input placeholder="Value" [class.text-danger]="!attributeValueValid(newAttribute)" [(ngModel)]="newAttribute.value">
            </td>
            <td>
              <button [disabled]="!canAddAttribute(identityInEdit,newAttribute)" class="btn btn-primary"  (click)="addAttribute(newAttribute)">
                <span class="fa fa-plus"></span> 
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- Attribute creation warning -->
    <div *ngIf="!attributeNameValid(identityInEdit,newAttribute) || !attributeValueValid(newAttribute)" class="alert alert-primary alert-dismissible fade show" role="alert">
      <span class="fa fa-warning"></span> Note:
      <ul>
        <li>Only use alphanumeric attribute names.</li>
        <li>You cannot define the same name twice.</li>
        <li>Attribute values may not be empty!</li>
      </ul>
    </div>
    <!-- Authorized entities -->
    <div style="margin-top: 1.5em;">
      <table class="table pb-1" *ngIf="identityInEdit == showTicketsIdentity">
        <thead style="border-top-style: hidden">
          <tr>
            <th scope="col">
              <h6 class="card-subtitle mb-2" *ngIf="identityInEdit == showTicketsIdentity">
                Authorized Entities:
              </h6>
            </th>
            <th scope="col">
              <h6 class="card-subtitle mb-2" *ngIf="identityInEdit == showTicketsIdentity">
                Shared attributes:
              </h6>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let ticket of tickets[identityInEdit.pubkey]">
            <td>
              <div style="min-width: 15em">
                {{getAudienceName(ticket)}}
              </div>
            </td>
            <td>
              <div style="min-width: 15em">
                {{ticketAttributeMapper[ticket.audience]}}
              </div>
            </td>
            <td>
              <button class="btn btn-primary" *ngIf="showConfirmRevoke != ticket" (click)="confirmRevoke(ticket)">
                <span class="fa fa-unlink"></span> Revoke
              </button>
              <div class="alert alert-danger fade show" *ngIf="showConfirmRevoke == ticket">
                Do you really want to revoke this ticket?<br/><br/>
                <button class="btn btn-primary" (click)="revokeTicket(identityInEdit, ticket)">
                  <span class="fa fa-unlink"></span> Revoke
                </button>
                <button class="btn btn-primary" (click)="hideConfirmRevoke()">
                  <span class="fa fa-close"></span> Cancel
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- Edit card buttons -->
    <div>
      <button class="btn btn-primary" (click)="saveIdentityAttributes(identityInEdit)" [disabled]="!canSaveIdentity(identityInEdit)">
        <span class="fa fa-save"></span> Save and Back
      </button>
        <button *ngIf="(0 < tickets[identityInEdit.pubkey]?.length) && !inOpenIdFlow()" class="btn btn-primary" (click)="toggleShowTickets(identityInEdit)" [style.float]="'right'">
        <span class="fa fa-openid"></span>
        <span *ngIf="identityInEdit == showTicketsIdentity">Hide</span>
        <span *ngIf="identityInEdit != showTicketsIdentity">Show</span> 
        Authorizations
      </button>
    </div>
  </div>
</div>

<!-- Identity cards -->
<!-- No match -->
<div *ngIf="canSearch()">
  <div *ngIf="(identities | search: searchTerm).length == 0" style="text-align: center;" class="alert alert-secondary alert-dismissible fade show" role="alert">No matching identities.</div>
</div>
<!-- Cards -->
<div class="card-columns p-2" *ngIf="(null == identityInEdit) && !isAddIdentity()">
  <div class="card" *ngFor="let identity of identities | search: searchTerm">
    <div class="card-avatar card-img-top">
      <div class="card-avatar-character text-dark">
        <!--<div class="icon m-1 text-uppercase" [style.background-color]="intToRGB(identity.pubkey)">{{ identity.name[0]}}</div>-->
        <i class="fa fa-user-circle"></i>
        <span class="m-1" style="display: inline-block"><i> {{identity.name}}</i></span>
        <button class="btn btn-primary" *ngIf="showConfirmDelete != identity" (click)="confirmDelete(identity)">
          <span class="fa fa-trash"></span>
        </button>
        <button class="btn btn-primary" *ngIf="showConfirmDelete != identity" (click)="editIdentity(identity)">
          <span class="fa fa-edit"></span>
        </button>
      </div>
    </div>
    <div class="alert alert-danger fade show" *ngIf="showConfirmDelete == identity">
      Do you really want to delete this identity?<br/><br/>
      <button class="btn btn-primary" (click)="deleteIdentity(identity)">
        <span class="fa fa-trash"></span> Delete
      </button>
      <button class="btn btn-primary" (click)="hideConfirmDelete()">
        <span class="fa fa-close"></span> Cancel
      </button>
    </div>
    <div class="alert alert-secondary fade show" *ngIf="!hasAttributes(identity)">
      This identity has no attributes. Maybe try <a class="buttonlink" (click)="editIdentity(identity)">adding some?</a>
    </div>
    <div *ngIf="isAttributeMissing(identity)" class="alert alert-danger alert-dismissible fade show" role="alert">
      <span class="fa fa-openid"></span> This identity cannot be used because it's missing requested attributes: 
      <ul>
        <li *ngFor="let attr of getMissing(identity)">{{attr}}</li>
      </ul>
      <button class="btn btn-primary" (click)="editIdentity(identity)">
        <span class="fa fa-plus"></span> Add
      </button>
    </div>
    <div class="card-body">
      <!-- Attribute table --> 
      <div>
        <h6 class="card-subtitle mb-2" *ngIf="hasAttributes(identity)">
          <strong>Information:</strong>
        </h6>
        <table class="table pb-1">
          <tbody>
            <tr [class.openid]="inOpenIdFlow()" [class.text-primary]="isRequested(identity, attribute)"
               [class.alert-danger]="newAttribute.name === attribute.name" *ngFor="let attribute of attributes[identity.pubkey]">
              <td>
                <div style="min-width: 15em">{{attribute.name}}</div>
              </td>
              <td>
                <div *ngIf="attribute.value.length <= 20" style="min-width: 15em">{{attribute.value}}</div>
                <div *ngIf="attribute.value.length > 20" style="min-width: 15em">{{attribute.value.substring(0, 15)}}<span style="color:#eee">[...]</span></div>
              </td>
              <td>
                <div style="min-width: 8em; text-align: center;">
                  <span *ngIf="isRequested(identity, attribute)" class="fa fa-openid"></span>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div style="margin-bottom: 1em" *ngIf="(0 < attributes[identity.pubkey]?.length) && inOpenIdFlow()" class="text-primary">
        Only attributes marked with <span class="fa fa-openid" ></span> will be shared.
      </div>
      <div>

        <div>
          <button *ngIf="canAuthorize(identity)" [disabled]="!inOpenIdFlow() || isAttributeMissing(identity) || !clientNameFound" (click)="loginIdentity(identity)" class="btn btn-primary mr-1 openid-login">
            <span *ngIf="clientNameFound"><i class="fa fa-openid"></i> Share from this identity</span>
            <span *ngIf="!clientNameFound"><i class="fa fa-exclamation-circle"></i> Sharing disabled</span>
          </button>
        </div>
      </div>
      <div style="text-align:center">
        <img src="assets/reclaim_icon.png" style="width: 5em;opacity: 0.3;">
      </div>
    </div>
  </div>

  <!-- New identity card -->
  <div class="card identity-new" (click)="addIdentity()" *ngIf="0 != identities.length && !isAddIdentity()">
    <div class="card-avatar card-img-top">
      <div class="card-avatar-character text-dark">
        <!--<div class="icon m-1 text-uppercase" [style.background-color]="intToRGB(identity.pubkey)">{{ identity.name[0]}}</div>-->
        <i class="fa fa-user-circle"></i>
        <span class="m-1" style="display: inline-block"><i> New Identity</i></span>
      </div>
    </div>
    <div class="card-body">
      <div style="text-align:center" class="mb-4">
        <i>Click to add a new identity.</i>
      </div>
      <div style="text-align:center">
        <img src="assets/reclaim_icon.png" style="width: 5em;opacity: 0.3;">
      </div>
    </div>
  </div>
</div>

<!-- Identity creation -->
<div *ngIf="isAddIdentity()" class="m-2 card" style="text-align:center;">
  <div class="card-avatar card-img-top">
    <div class="card-avatar-character text-dark">
      Add Identity        
    </div>
  </div>
  <!-- Invalid input -->
  <div *ngIf="'' !== newIdentity.name && !canSave() && !isDuplicate()" class="alert alert-danger alert-dismissible fade show" role="alert">
    Only Alphanumeric input. No spaces or special characters allowed.
  </div>
  <!--Identity already exists -->  
  <div *ngIf="isDuplicate()" class="alert alert-warning alert-dismissible fade show" role="alert"> 
    An identity with this username already exists.
  </div>
  <!-- Input text -->
  <div *ngIf="'' === newIdentity.name || canSave()" class="alert alert-secondary alert-dismissible fade show" role="alert">
    Enter a username for your new identity
  </div>
  <div class="card-body">
    <input [class.text-danger]="'' !== newIdentity.name && !canSave()" style="text-align: center; border: 1px solid #111;" (keyup.enter)="saveIdentity()" pattern="^[a-zA-Z0-9-]+" placeholder="Username" title="Only Alphanumeric input. No spaces or special characters allowed." class="mr-2" [(ngModel)]="newIdentity.name" autofocus>
    <br/>
    <br/>
    <button [disabled]="!canSave()" [style.inactive]="!canSave()"  class="-1 btn btn-primary" (click)="saveIdentity()">
      <span class="fa fa-save"></span> Save
    </button>
    <button class="m-1 btn btn-danger" (click)="cancelAddIdentity()">
      <span class="fa fa-close"></span> Cancel
    </button>
  </div>
</div>

