oid-modal {
  /* modals are hidden by default */
  display: none;
  
  .oid-modal { 
    /* modal container on top of page */
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);

    /* z-index must be higher than .jw-modal-background */
    z-index: 1000;
    
    /* enables scrolling for tall modals */
    overflow: auto;

    .oid-modal-body {
      padding: 20px;
      background: #fff;
      border: 1px solid rgba(0, 0, 0, 0.125);
      box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.75);
      border-radius: 1em;
      
      /* margin exposes part of the modal background */
      margin: 40px;
    }
  }

  .oid-modal-background {
    /* modal background fixed across whole screen */
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    
    /* semi-transparent black  */
    background-color: #000;
    opacity: 0.75;

    /* z-index must be below .jw-modal and above everything else  */
    z-index: 900;
  }
}

body.oid-modal-open {
  /* body overflow is hidden to hide main scrollbar when modal window is open */
  overflow: hidden;
}

