@import "node_modules/bootstrap/scss/bootstrap";
$fa-font-path: "../node_modules/font-awesome/fonts";
@import "node_modules/font-awesome/scss/font-awesome.scss";
@import "app/modal.scss";

html {
  /*font-family: Roboto, Helvetica, Arial, sans-serif;*/
  margin: 0 auto;
  font-size: 14px;
}

body {
  background-color: #fafafa;
}


div.card {
  box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.5);
  border-radius: 1em;
}

.btn:disabled {
  background-color: lightgray;
}

button.btn, a.btn {
  box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.5);
  border-radius: 10rem;
  background-image: none;
}

button.btn:hover, a.button:hover {
  background-image:none;
}

.btn.btn-primary {
  background-image: none;
  background-color: #fff;
  color: #555;
  border: 1px solid #ddd;
}

.btn.btn-primary:hover {
  background-color: #555;
  border: 1px solid #555;
  color: #fff;
  background-image:none;
  box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.5);
}

.btn.btn-primary:disabled {
  background-color: white;
  box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.5);
  border: 1px solid #ccc;
  color: #ccc;
}

.btn-primary:disabled:hover {
  color: #ccc;
  background-color: white;
}

.alert a.buttonlink {
  text-decoration: underline;
  cursor: pointer;
  color: #777;
}

.alert {
  border-radius: 0;
  margin-bottom: 0;
}
